#services{
  margin-top: 7%;
}

.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}
.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: #141727;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--color-primary);
}

.project .link--icon {
  margin-left: 0.5em;
}

@media (max-width: 600px){
  .projects__grid{
    grid-template-columns: auto;
  }
}
@media (min-width: 601px) and (max-width:800px){
  .projects__grid{
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px){
  #services{
      margin-top: 15%;
  }
}   

@media screen and (max-width: 468px){
  #services{
      margin-top: 25%;
  }
}   