header {
  background-image: url("https://images.unsplash.com/photo-1516663713099-37eb6d60c825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1rem;
  display: inline-block;
  /* position: absolute;     */
  /* left: 0; */
  /* bottom: 3rem; */
  transition: var(--transition);
  background-color: var(--color-bg-variant);
  border-radius: 20px;
  padding: 1rem 1.5rem;
}
.header__socials a:hover {
  transform: scale(1.2);
}
.header__socials a {
  padding: 1rem;
}
/* .header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
} */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}
@media screen and (max-width: 890px) {
    header h1{
        font-size: 2rem;
      }
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;    
  }
  header h1{
    font-size: 1.5rem;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
